.slipknotimgc{
    width: 300px;
    margin-left: 80px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.rhcpimgc {
    width: 200px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
   

}

.metalicaimgc{
    width: 310px;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 30px;

}

.deftonesimgc{
    width: 310px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 45px;

}
.kornc {
    width: 200px;
    margin-left: 35px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 45px;
}

.foofightersimgc {
    width: 284px;
    margin-left: 80px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 70px;

}

.megadethc {
    width: 300px;
    margin-left: 17px;
    margin-right: 15px;
}

.paparoachc{
    width: 300px;
    margin-bottom: 50px;
    margin-left: 27px;
}
.blackc {
    width: 300px;
    margin-bottom: 30px;
    margin-left: 70px;
}
.acdcc {
    width: 300px;
    margin-bottom: 30px;
    margin-left: 50px;
}
.threec {
    width: 300px;
    margin-left: 60px;
}
.typeoc {
    width: 600px;
    margin-bottom: 50px;
    margin-left: 80px;
}
.systemc {
    width: 350px;
    margin-left: 79px;
}
.dopec {
    width: 266px;
    height: 101px;
    margin-left: 48px;
    margin-bottom: 57px;
}
.temperc {
    width: 300px;
    margin-left: 60px;

    margin-bottom: 141px;
}
.twistedc {
    width: 400px;
    margin-bottom: 56px;
    margin-left: 150px;
}
.curtanc {
    width: 500px;
    margin-left: 134px;
    margin-bottom: 30px;

}

